# Problem 6

Consider the Adult Income dataset. The ML model is aimed to predict whether the income will exceed 50k or not. 

You need to first preprocess the dataset. Next, you need to build a machine learning model to predict individual's income.

Implement all the questions and upload your code named `{yourlastname}_hw2.ipynb` to Canvas.

In [9]:
import pandas as pd
import numpy as np

In [10]:
# load dataset
data = pd.read_csv('adult.csv')
data

,age,hours_per_week,workclass,education,marital_status,occupation,race,gender,income
0,39,40,Government,Bachelors,Single,White-Collar,White,Male,0
1,50,13,Self-Employed,Bachelors,Married,White-Collar,White,Male,0
2,38,40,Private,HS-grad,Divorced,Blue-Collar,White,Male,0
3,53,40,Private,School,Married,Blue-Collar,Other,Male,0
4,28,40,Private,Bachelors,Married,Professional,Other,Female,0
...,...,...,...,...,...,...,...,...,...
32556,27,38,Private,Assoc,Married,Service,White,Female,0
32557,40,40,Private,HS-grad,Married,Blue-Collar,White,Male,1
32558,58,40,Private,HS-grad,Widowed,White-Collar,White,Female,0
32559,22,20,Private,HS-grad,Single,White-Collar,White,Male,0
32560,52,40,Self-Employed,HS-grad,Married,White-Collar,White,Female,1

In [11]:
data.dtypes

age                int64
hours_per_week     int64
workclass         object
education         object
marital_status    object
occupation        object
race              object
gender            object
income             int64
dtype: object

## (5 points) Transform the categorical features into the `one-hot-encoding` format

In [17]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse = False)
ohe_cat_x = ohe.fit_transform(X[['workclass', 'education', 'marital_status', 'occupation', 'race', 'gender']])
ohe_cat_x_df = pd.DataFrame(ohe_cat_x)
ohe_cat_x_df

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
32557,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32558,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
32559,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
32560,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

## (5 points) Normalize the continuous features

In [15]:
from sklearn import preprocessing

X, Y = data.iloc[:, :-1], data.iloc[:, -1]

print(X)
print(Y)

# see if there are missing entries in the dataset features
X.isnull().sum()

       age  hours_per_week      workclass  education marital_status  \
0       39              40     Government  Bachelors         Single
1       50              13  Self-Employed  Bachelors        Married
2       38              40        Private    HS-grad       Divorced
3       53              40        Private     School        Married
4       28              40        Private  Bachelors        Married
...    ...             ...            ...        ...            ...
32556   27              38        Private      Assoc        Married
32557   40              40        Private    HS-grad        Married
32558   58              40        Private    HS-grad        Widowed
32559   22              20        Private    HS-grad         Single
32560   52              40  Self-Employed    HS-grad        Married

         occupation   race  gender
0      White-Collar  White    Male
1      White-Collar  White    Male
2       Blue-Collar  White    Male
3       Blue-Collar  Other    Male
4      Professional  Other  Female
...             ...    ...     ...
32556       Service  White  Female
32557   Blue-Collar  White    Male
32558  White-Collar  White  Female
32559  White-Collar  White    Male
32560  White-Collar  White  Female

[32561 rows x 8 columns]
0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income, Length: 32561, dtype: int64

age               0
hours_per_week    0
workclass         0
education         0
marital_status    0
occupation        0
race              0
gender            0
dtype: int64

In [77]:

from sklearn import preprocessing
X_scaled = pd.DataFrame(X, columns=['age', 'hours_per_week'])
x = X_scaled.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()#other kinds of normalization possible
x_scaled = min_max_scaler.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled, columns=['age', 'hours_per_week'])


final_dataset = pd.concat([x_scaled, Y], axis=1, sort=False)
print(final_dataset)

# see if there are missing entries in the dataset features
final_dataset.isnull().sum()

            age  hours_per_week  income
0      0.301370        0.397959       0
1      0.452055        0.122449       0
2      0.287671        0.397959       0
3      0.493151        0.397959       0
4      0.150685        0.397959       0
...         ...             ...     ...
32556  0.136986        0.377551       0
32557  0.315068        0.397959       1
32558  0.561644        0.397959       0
32559  0.068493        0.193878       0
32560  0.479452        0.397959       1

[32561 rows x 3 columns]

age               0
hours_per_week    0
income            0
dtype: int64

## (5 points) Split the dataset into `train_X`, `train_y`, `test_X`, `test_y`

Use the first 20,000 data points as the training set, and the rest as the testing set. DO NOT RANDOMLY SLIT THE TRAIN/TEST DATA.
- If you use `sklearn.model_selection.train_test_split`, you should set the parameter `shuffle=False`.

In [78]:
frames = [x_scaled, ohe_cat_x_df]
transformed_df = pd.concat(frames, axis = 1)
transformed_df

,age,hours_per_week,0,1,2,3,4,5,6,7,...,17,18,19,20,21,22,23,24,25,26
0,0.301370,0.397959,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.452055,0.122449,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.287671,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.493151,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.150685,0.397959,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.377551,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
32557,0.315068,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32558,0.561644,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
32559,0.068493,0.193878,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
32560,0.479452,0.397959,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_df, Y, train_size=20000, shuffle = False)

,age,hours_per_week,0,1,2,3,4,5,6,7,...,17,18,19,20,21,22,23,24,25,26
0,0.301370,0.397959,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.452055,0.122449,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.287671,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.493151,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.150685,0.397959,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.260274,0.806122,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
19996,0.232877,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
19997,0.753425,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
19998,0.506849,0.438776,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
19999,0.178082,0.397959,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

## (10 points) Build a ML model to predict income in the testing set

You should report the accuracy score in the *testing set*. To obtain full credit, you need to achieve accuracy score higher than 82.5% on the testing set. Please briefly describe your approach.

*(5 bonus point if your accuracy score is higher than 83.5%)*

In [ ]:
# additional feature engineering if applicable

In [93]:
# build your ML model here

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=0)
model.fit(X_train.to_numpy(), y_train)
print(model)
y_probs = model.predict_proba(X_test.to_numpy())
y_predicted = model.predict(X_test.to_numpy())

print(y_probs.shape)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
(12561, 2)

/Users/ShivramIyer/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [94]:
# evaluate your model on the testing set here
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predicted))

0.8285168378313829